body{
    background-image: url(yo.jpg);
table{
    width: 100%;
    border-radius: 8%;
    overflow: hidden;
    height: 100%;
    font-size: xx-large;
    text-decoration: underline;

}
}
#O{
    text-align: center;
    text-decoration: underline;
}
#R{
    font: xx-large;
    font-family: 'Times New Roman', Times, serif;
}
.Q{
    color: rgb(71, 112, 158);
}
.A{
    color: brown;
    text-decoration: underline rgb(250, 250, 250);
}
.Z{
    color: rgb(86, 164, 167);
}