body{
    background-image: url(yo.jpg);
    font-size: x-large;
}
.A{
    color: blueviolet;
    text-decoration: underline rgb(17, 15, 14);    
}
.P{
    color: brown;
    text-decoration: underline;
}
.t{
    color: rgb(247, 142, 13);
}
.d{
    background-color: rgba(197, 130, 130, 0.438);
}