body{
    background-image: url(yo.jpg);
    font-size: x-large;
    
}
.G{
    color: blueviolet;
    text-decoration: underline rgb(15, 2, 5);
}
.O{
    color: brown;
}
.C{
    color: rgb(252, 166, 38);
}