body{
    background-image:url(yo.jpg) ;
    font-size: x-large;
    
}
.Q{
    color: blueviolet;
}
.R{
    color: brown;
}
.Z{
    background-color: rgba(202, 228, 236, 0.493);

}
.B{
    color: brown;

}