body{
background-image: url(yo.jpg);
table
 font-size:large  width:50px ;
{
border-collapse: collapse;
}
td, th /* Mettre une bordure sur les td ET les th */
{
border: 10px solid rgba(43, 38, 15, 0.534);
}
#C{
    transform: rotate(300deg);
}

#D{
    background-color: aquamarine ;
}
#z{
    text-decoration: underline;
    color: brown;
    border-collapse: separate;
}
}
.O{
    color: brown;
    font-size: x-large;
    text-decoration: underline rgb(7, 6, 5);
}
.G{
    color: blueviolet;
    text-decoration: underline rgb(24, 24, 23);
}
.V{
    color: rgb(245, 142, 17);
}
.B{
    color: rgb(246, 248, 243);
}
.N{
    color: rgb(36, 113, 177);
}